div,
p,
form,
input,
textarea,
a,
span,
button,
ul,
li {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #555252;
  background-color: #fff;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

.header {
  padding: 35px 0;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #555252;
  text-transform: uppercase;
}

.main-nav::first-letter {
  color: #1abc9c;
  font-weight: 900;
}

.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: bold;
  text-transform: uppercase;
  float: right;
  margin-top: 8px;
}

.menu-link {
  color: #0f0101;
}

.menu-link:hover,
.menu-link:focus {
  color: #1abc9c;
}

.menu-item {
  float: left;
}

.menu-item:not(:last-child) {
  margin-right: 30px;
}

.products {
  padding: 70px 0;
}

.title {
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.title::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 170px;
  height: 8px;
  background-color: #1abc9c;
  margin-top: 30px;
  margin-bottom: 92px;
}

.product-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 18px;
  color: #fff;
}

.product-item {
  float: left;
  width: 255px;
  background-color: #e9f0fd;
}

.product-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.product-item:not(:nth-last-child(-n + 4)) {
  margin-bottom: 30px;
}

.wrap {
  background: linear-gradient(90deg, #323232 78%, #8c8c8c 22%);
  padding: 13px 14px;
}

.wrap a {
  color: #fff;
  display: block;
  width: 78%;
  float: left;
}

.product-title {
  display: inline-block;
}

.price {
  float: right;
  font-weight: 600;
}

.product-item:hover .wrap {
  background: linear-gradient(90deg, #1abc9c 78%, #7fd9c7 22%);
}

.last-news {
  padding: 70px 0;
}

.news-list {
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.news-item {
  width: 351px;
  float: left;
}

.news-item:not(:last-child) {
  margin-right: 28px;
}

.news-img {
  margin-bottom: 10px;
}

.news-title {
  text-transform: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.news-title:after {
  content: '';
  display: block;
  width: 152px;
  height: 4px;
  background-color: #4ec6ab;
  margin-top: 10px;
  margin-bottom: 30px;
}

.news-desription {
  line-height: 1.8;
  margin-bottom: 16px;
}

.btn {
  display: inline-block;
  width: 157px;
  padding: 18px 0;
  text-align: center;
  background-color: #4ec6ab;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
}
